.pageload-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #3D3560 ;
}
.coffee_cup {
  width: 20px;
  height: 24px;
  border: 1px #ffffff solid;
  border-radius: 0px 0px 5px 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.coffee_cup:after,
.coffee_cup:before {
  position: absolute;
  content: "";
}
.coffee_cup:after {
  width: 5px;
  height: 12px;
  border: 1px #fff solid;
  border-left: none;
  border-radius: 0px 20px 20px 0px;
  left: 20px;
}
.coffee_cup:before {
  width: 1px;
  height: 6px;
  background-color: #ffffff;
  top: -10px;
  left: 4px;
  box-shadow: 5px 0px 0px 0px #ffffff, 5px -5px 0px 0px #ffffff, 10px 0px 0px 0px #ffffff;
  -webki-tbox-shadow: 5px 0px 0px 0px #ffffff, 5px -5px 0px 0px #ffffff, 10px 0px 0px 0px #ffffff;
  -moz-box-shadow: 5px 0px 0px 0px #ffffff, 5px -5px 0px 0px #ffffff, 10px 0px 0px 0px #ffffff;
  -ms-box-shadow: 5px 0px 0px 0px #ffffff, 5px -5px 0px 0px #ffffff, 10px 0px 0px 0px #ffffff;
  -o-box-shadow: 5px 0px 0px 0px #ffffff, 5px -5px 0px 0px #ffffff, 10px 0px 0px 0px #ffffff;
  -webkit-animation: steam 1s linear infinite alternate;
  -moz-animation: steam 1s linear infinite alternate;
  animation: steam 1s linear infinite alternate;
}
@-webkit-keyframes steam {
  0% {
    height: 0px;
  }
  100% {
    height: 6px;
  }
}
@-moz-keyframes steam {
  0% {
    height: 0px;
  }
  100% {
    height: 6px;
  }
}
@keyframes steam {
  0% {
    height: 0px;
  }
  100% {
    height: 6px;
  }
}
svg {
  width: 10vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  svg {
    width: 15vw;
  }
}
.anim-shape {
  fill: #ffd00c;
  -webkit-transform-origin: 0 150px;
  -ms-transform-origin: 0 150px;
  transform-origin: 0 150px;
  -webkit-transform: scale(0, 1) translate(0, 0);
  -ms-transform: scale(0, 1) translate(0, 0);
  transform: scale(0, 1) translate(0, 0);
  -webkit-animation: moving-panel 2s infinite alternate;
  animation: moving-panel 2s infinite alternate;
}
@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}
@keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}
.no_scroll {
  overflow-y: hidden !important;
}
.clear {
  box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.12);
  -moz-box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.12);
  -webkit-box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.12);
  -o-box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.12);
  -ms-box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.12);
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
}
.clear:after {
  content: '';
  clear: both;
  display: block;
}
.logo {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #d1d0d8;
  -webkit-mask: url(../homepage_img/logo.svg) no-repeat 50% 50%;
  mask: url(../homepage_img/logo.svg) no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  margin-top: 20px;
}
.logo:hover {
  background-color: #3d3560;
}
#mobile_nav {
  display: none;
  box-shadow: 0 0 0 1px #3d3560;
  -moz-box-shadow: 0 0 0 1px #3d3560;
  -webkit-box-shadow: 0 0 0 1px #3d3560;
  -o-box-shadow: 0 0 0 1px #3d3560;
  -ms-box-shadow: 0 0 0 1px #3d3560;
  color: #3d3560;
  height: 48px;
  width: 48px;
  position: fixed;
  z-index: 11;
  right: 20px;
  top: 20px;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
#mobile_nav:before {
  font-family: icon;
  content: '\f0c9';
  display: block;
  text-align: center;
  line-height: 48px;
}
#mobile_nav.white {
  box-shadow: 0 0 0 1px #ffffff;
  -moz-box-shadow: 0 0 0 1px #ffffff;
  -webkit-box-shadow: 0 0 0 1px #ffffff;
  -o-box-shadow: 0 0 0 1px #ffffff;
  -ms-box-shadow: 0 0 0 1px #ffffff;
  color: white;
}
#mobile_nav.white:before {
  content: '\f00d';
}
.left_panel {
  width: 250px;
  position: fixed;
  height: calc(100vh - 50px);
  padding-top: 50px;
  z-index: 10;
  top: 0;
}
.left_panel .page_navigation {
  list-style: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.left_panel .page_navigation .section.nav_drawer .section_title:after,
.left_panel .page_navigation .section_second.nav_drawer .section_title:after {
  display: none;
  font-family: icon;
  content: '\f107';
  color: white;
  margin-left: 8px;
  position: relative;
  top: 1px;
}
.left_panel .page_navigation .section .section_title,
.left_panel .page_navigation .section_second .section_title {
  font-family: sl;
  font-size: calc(.3rem + .65vw);
  line-height: calc(.3rem + 1.2vw);
  display: block;
  cursor: pointer;
  color: #8b95a2;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  white-space: nowrap;
}
.left_panel .page_navigation .section .section_title:hover,
.left_panel .page_navigation .section_second .section_title:hover {
  color: #101823;
}
.left_panel .page_navigation .section .section_title.active,
.left_panel .page_navigation .section_second .section_title.active {
  color: #8b95a2;
  font-family: sm;
}
.left_panel .page_navigation .section .section_title.active:after,
.left_panel .page_navigation .section_second .section_title.active:after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #ffd00c;
  margin-left: 8px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}
.left_panel .page_navigation .section .section_title.project_title,
.left_panel .page_navigation .section_second .section_title.project_title {
  color: #8b95a2;
  font-family: pf_b;
  font-size: calc(.3rem + .57vw);
  line-height: calc(.3rem + 1.7vw);
}
.left_panel .page_navigation .section .section_title.project_title.active,
.left_panel .page_navigation .section_second .section_title.project_title.active {
  font-family: pf_b;
  color: #8b95a2;
}
.left_panel .page_navigation .section .sub_sections,
.left_panel .page_navigation .section_second .sub_sections {
  height: 0;
  list-style: none;
  padding-left: 10px;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  overflow: hidden;
}
.left_panel .page_navigation .section .sub_sections li,
.left_panel .page_navigation .section_second .sub_sections li {
  font-family: sl;
  font-size: calc(.3rem + .55vw);
  line-height: calc(.3rem + 1.1vw);
  cursor: pointer;
  color: #8b95a2;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  white-space: nowrap;
}
.left_panel .page_navigation .section .sub_sections li:hover,
.left_panel .page_navigation .section_second .sub_sections li:hover {
  color: #101823;
}
.left_panel .page_navigation .section .sub_sections li.active,
.left_panel .page_navigation .section_second .sub_sections li.active {
  color: #8b95a2;
  font-family: sm;
}
.left_panel .page_navigation .section .sub_sections li.active:after,
.left_panel .page_navigation .section_second .sub_sections li.active:after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #ffd00c;
  margin-left: 8px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}
.left_panel .pagination_wrapper {
  position: absolute;
  bottom: 50px;
  font-family: sl;
  list-style: none;
}
.left_panel .pagination_wrapper li {
  position: relative;
  cursor: pointer;
  padding-left: 20px;
}
.left_panel .pagination_wrapper li:hover {
  color: #101823;
}
.left_panel .pagination_wrapper li:hover a {
  color: #101823;
}
.left_panel .pagination_wrapper li a {
  color: #667282;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  font-family: sl;
  font-size: calc(.3rem + .65vw);
  line-height: calc(.3rem + 1.2vw);
}
.left_panel .pagination_wrapper li:before {
  position: absolute;
  left: 0;
  top: calc(.1rem);
  line-height: 14px;
  color: #667282;
}
.left_panel .pagination_wrapper li#all_projects:before {
  font-family: icon;
  content: '\f0c9';
  font-size: calc(.3rem + .35vw);
}
.left_panel .pagination_wrapper li#previous_project:before {
  content: '\00ab';
  font-size: calc(.7rem + .55vw);
}
.left_panel .pagination_wrapper li#next_project:before {
  content: '\00bb';
  font-size: calc(.7rem + .55vw);
}
.project_content h1 {
  font-family: "lust-display", "pf_b", sans-serif;
  font-size: calc(1.1rem + 2vw);
  color: #3d3560;
  padding-top: 60px;
}
.project_content h2 {
  font-family: pf_bl;
  color: #3d3560;
  font-size: calc(1.1rem + 1.7vw);
  padding: 50px 0 30px;
}
.project_content h3 {
  font-family: sb;
  text-transform: uppercase;
  font-size: calc(.7rem + .5vw);
  color: #ffd00c;
  position: relative;
}
.project_content h4 {
  font-family: sr;
  font-size: calc(.4rem + .85vw);
  line-height: calc(.4rem + 2vw);
  color: #323a45;
}
.project_content .pull_out {
  text-align: center;
  font-family: pf_r;
  font-size: calc(.3rem + 1.1vw);
  line-height: calc(.3rem + 1.6vw);
  color: #505a78;
  padding-bottom: 20px;
}
.project_content .explanation_title:before {
  content: attr(data-number) ' ';
  color: #ffd00c;
  font-size: 24px;
  font-family: sbl;
}
.body_wrapper {
  width: 70vw;
  margin: 0 auto;
  position: relative;
}
.body_wrapper .main_panel {
  position: relative;
  width: calc(70vw * .6);
  margin-left: auto;
}
.body_wrapper .main_panel #mobile_bottom_nav {
  display: none;
  padding: 40px 0;
}
.body_wrapper .main_panel #mobile_bottom_nav a {
  color: #323a45;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  padding-bottom: 4px;
  font-family: sl;
  cursor: pointer;
}
.body_wrapper .main_panel #mobile_bottom_nav a#all_projects {
  flex-grow: 1;
  -ms-flex-grow: 1;
  -webkit-flex-grow: 1;
  display: block;
  text-align: center;
}
.body_wrapper .main_panel #mobile_bottom_nav a#previous_project {
  flex-grow: 0;
  -ms-flex-grow: 0;
  -webkit-flex-grow: 0;
}
.body_wrapper .main_panel #mobile_bottom_nav a#previous_project:before {
  content: '\00ab';
  padding-right: 10px;
}
.body_wrapper .main_panel #mobile_bottom_nav a#next_project {
  flex-grow: 0;
  -ms-flex-grow: 0;
  -webkit-flex-grow: 0;
}
.body_wrapper .main_panel #mobile_bottom_nav a#next_project:after {
  content: '\00bb';
  padding-left: 10px;
}
.body_wrapper .main_panel section {
  padding: 0 0 50px 0;
  box-shadow: 0 1px 0 0 #ebedf3;
  -moz-box-shadow: 0 1px 0 0 #ebedf3;
  -webkit-box-shadow: 0 1px 0 0 #ebedf3;
  -o-box-shadow: 0 1px 0 0 #ebedf3;
  -ms-box-shadow: 0 1px 0 0 #ebedf3;
}
.body_wrapper .main_panel section:last-child {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}
.body_wrapper .main_panel p,
.body_wrapper .main_panel a {
  font-family: sl;
  color: #323a45;
  font-size: calc(.3rem + .85vw);
  line-height: calc(.3rem + 1.4vw);
  padding-bottom: 20px;
}
.body_wrapper .main_panel b {
  font-family: sb;
}
.body_wrapper .main_panel span.indent {
  padding-left: 30px;
  display: block;
}
.body_wrapper .main_panel span.bullet {
  padding-left: 35px;
  display: block;
  position: relative;
}
.body_wrapper .main_panel span.bullet:before {
  content: '-';
  position: absolute;
  left: 18px;
}
.body_wrapper .main_panel ul,
.body_wrapper .main_panel ol {
  padding-left: 15px;
  display: block;
  position: relative;
  font-family: sl;
  color: #323a45;
  font-size: calc(.3rem + .85vw);
  line-height: calc(.3rem + 1.4vw);
  padding-bottom: 20px;
}
.body_wrapper .main_panel ul.colored_numbers,
.body_wrapper .main_panel ol.colored_numbers {
  padding-left: 23px;
}
.body_wrapper .main_panel ul.with_space li,
.body_wrapper .main_panel ol.with_space li {
  padding-bottom: 10px;
}
.body_wrapper .main_panel ul li:last-child,
.body_wrapper .main_panel ol li:last-child {
  padding-bottom: 0;
}
.body_wrapper .main_panel ul {
  list-style-type: none;
}
.body_wrapper .main_panel ul li:before {
  content: '-';
  position: absolute;
  left: 0px;
}
.body_wrapper .main_panel .quote {
  text-align: center;
  font-size: 26px;
  color: #323a45;
  padding-bottom: 20px;
}
.body_wrapper .main_panel .quote:before {
  content: open-quote;
  padding-right: 5px;
}
.body_wrapper .main_panel .quote:after {
  content: close-quote;
  padding-left: 5px;
}
.body_wrapper .main_panel #about_pixlee_toggle {
  font-family: sl;
  font-size: 18px;
  color: #e09004;
  padding-top: 5px;
  margin-bottom: 30px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
.body_wrapper .main_panel #about_pixlee_toggle:hover {
  color: #be6e00;
}
.body_wrapper .main_panel #about_pixlee_toggle:before {
  content: 'More';
  padding-right: 5px;
}
.body_wrapper .main_panel #about_pixlee_toggle:after {
  content: '\00bb';
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  display: inline-block;
  position: relative;
  top: 2px;
  left: 9px;
  font-size: 22px;
}
.body_wrapper .main_panel #about_pixlee_toggle.active:before {
  content: 'Less';
}
.body_wrapper .main_panel #about_pixlee_toggle.active:after {
  content: '\00ab';
}
.body_wrapper .main_panel #about_pixlee ul li ol li:before {
  display: none;
}
.body_wrapper .main_panel .image {
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.12);
  -moz-box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.12);
  -webkit-box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.12);
  -o-box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.12);
  -ms-box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.12);
  overflow: hidden;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: contain;
}
.body_wrapper .main_panel .image.after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #f8f9fd;
  transition: opacity 0.5s ease;
}
.body_wrapper .main_panel .image .dot {
  position: absolute;
}
.body_wrapper .main_panel .image .dot:before {
  content: attr(data-number) ' ';
  display: block;
  position: absolute;
  font-family: sb;
  color: white;
  padding: 10px 0 8px 0;
  text-align: center;
  background-color: #ffd00c;
  width: 35px;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  -o-border-radius: 18px;
  -ms-border-radius: 18px;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
.body_wrapper .main_panel .image .dot:hover:before {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.body_wrapper .main_panel .image_wrapper {
  position: relative;
  padding-bottom: 2.5vw;
}
.body_wrapper .main_panel .image_wrapper.more_top_space {
  padding-top: 50px;
}
.body_wrapper .main_panel .image_wrapper.less_bottom_space {
  padding-bottom: 10px;
}
.body_wrapper .main_panel .caption {
  font-family: sl;
  font-size: calc(.3rem + .6vw);
  text-align: center;
  padding-top: 8px;
  color: #667282;
}
.body_wrapper .main_panel .project_wrapper {
  padding-bottom: 150px;
}
.body_wrapper .main_panel .image_container {
  position: relative;
}
.body_wrapper .main_panel .carousel_image_container {
  position: relative;
  padding-left: 0;
}
.body_wrapper .main_panel .carousel_image_container .image {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
.body_wrapper .main_panel .carousel_image_container .image:before {
  content: '';
}
.body_wrapper .main_panel .carousel_image_container .image.active {
  opacity: 1;
  visibility: visible;
}
.body_wrapper .main_panel .pagination {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 3vw;
}
.body_wrapper .main_panel .pagination .prev {
  position: absolute;
  left: 0;
}
.body_wrapper .main_panel .pagination .prev:before {
  content: '\f053';
}
.body_wrapper .main_panel .pagination .next {
  position: absolute;
  right: 0;
}
.body_wrapper .main_panel .pagination .next:before {
  content: '\f054';
}
.body_wrapper .main_panel .pagination .carousel-nav {
  width: 3vw;
  height: 3vw;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-family: icon;
  color: #8b95a2;
  line-height: 3vw;
  text-align: center;
}
@media (min-width: 767px) and (max-width: 1100px) {
  .body_wrapper {
    width: 85vw;
  }
  .body_wrapper .main_panel {
    width: calc(85vw * .6);
  }
}
@media (max-width: 767px) {
  #mobile_nav {
    display: block;
  }
  .project_content h1 {
    font-size: calc(2rem + 2vw);
    padding-top: 0;
  }
  .project_content h2 {
    font-size: calc(1.7rem + 1.7vw);
  }
  .project_content h3 {
    font-size: calc(1rem + .5vw);
  }
  .project_content h4 {
    font-size: calc(1rem + .3vw);
    line-height: calc(1.3rem + 2vw);
  }
  .body_wrapper {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
  .body_wrapper .left_panel {
    background-color: rgba(61, 53, 96, 0.97);
    box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.32);
    -moz-box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.32);
    -webkit-box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.32);
    -o-box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.32);
    -ms-box-shadow: 0 0 35px 0 rgba(61, 53, 96, 0.32);
    height: auto;
    top: 0;
    bottom: 0;
    right: -100%;
    min-width: 80vw;
    padding-top: 0;
    -webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -ms-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
  }
  .body_wrapper .left_panel.slide {
    right: 0;
  }
  .body_wrapper .left_panel .logo {
    background: white;
    left: 20px;
    top: 20px;
    margin-top: 0;
  }
  .body_wrapper .left_panel .navigation_wrapper {
    position: static;
    overflow-y: scroll;
    margin-top: 110px;
    padding: 0 30px;
    height: calc(100% - 110px);
  }
  .body_wrapper .left_panel .page_navigation {
    position: relative;
    padding: 30px 0 50px 0;
    top: inherit;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
  }
  .body_wrapper .left_panel .page_navigation .section.nav_drawer .section_title:after,
  .body_wrapper .left_panel .page_navigation .section_second.nav_drawer .section_title:after {
    display: inline-block;
  }
  .body_wrapper .left_panel .page_navigation .section .section_title,
  .body_wrapper .left_panel .page_navigation .section_second .section_title {
    font-size: 1rem;
    line-height: calc(1rem + 4vw);
    color: white;
  }
  .body_wrapper .left_panel .page_navigation .section .section_title.project_title,
  .body_wrapper .left_panel .page_navigation .section_second .section_title.project_title {
    color: white;
  }
  .body_wrapper .left_panel .page_navigation .section .sub_sections li,
  .body_wrapper .left_panel .page_navigation .section_second .sub_sections li {
    font-size: 1rem;
    line-height: calc(1rem + 4vw);
    color: white;
  }
  .body_wrapper .left_panel .pagination_wrapper {
    position: relative;
    bottom: inherit;
  }
  .body_wrapper .left_panel .pagination_wrapper li#all_projects:before {
    font-size: .6rem;
    color: white;
    top: 7px;
  }
  .body_wrapper .left_panel .pagination_wrapper li#previous_project:before,
  .body_wrapper .left_panel .pagination_wrapper li#next_project:before {
    font-size: calc(1rem + 1vw);
    color: white;
    top: 7px;
  }
  .body_wrapper .left_panel .pagination_wrapper li a {
    font-size: 1rem;
    line-height: calc(1rem + 4vw);
    color: white;
  }
  .body_wrapper .main_panel {
    width: 100%;
    /*height: 100vh;*/
    margin: 0 auto;
  }
  .body_wrapper .main_panel p,
  .body_wrapper .main_panel ul,
  .body_wrapper .main_panel ol,
  .body_wrapper .main_panel li,
  .body_wrapper .main_panel a {
    font-size: 1rem;
    line-height: calc(1rem + 1vw);
  }
  .body_wrapper .main_panel .caption {
    font-size: .8rem;
  }
  .body_wrapper .main_panel .image_wrapper {
    padding-bottom: 7vw;
  }
  .body_wrapper .main_panel #mobile_bottom_nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .body_wrapper .main_panel .project_wrapper .other_work_wrapper .thumbnail {
    width: calc((100% - 20px) / 3);
    padding-top: 33%;
  }
  .body_wrapper .main_panel .project_wrapper .other_work_wrapper .thumbnail:nth-child(3n) {
    margin-right: 0;
  }
  .body_wrapper .main_panel .project_wrapper .other_work_wrapper .thumbnail:nth-child(4n) {
    margin: 0 10px 10px 0;
  }
}
